@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<html>
    <head>
        <title>@Model.Value("title")</title>
    </head>
    <body>
        @Model.Value("body")
    </body>
</html>